div.timetable {
    position: relative;
}

div.timetable div.time {
    display: block;
    height: 4rem;
    font-size: 1rem;
    color: rgb(102, 102, 102);

    border-bottom: 1px solid rgb(102, 102, 102);
    box-sizing: border-box;

    z-index: -50;
}

div.timetable div.time:nth-last-of-type(1) {
    border-bottom: none;
}

div.timetable div.all_schedules {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    padding-left: 4em;
    box-sizing: border-box;
    overflow-x: scroll;
}

div.timetable div.schedules {
    display: inline-block;
    position: absolute;
    top: 0;
}

div.timetable div.schedules:nth-child(2) {
    left: 21em;
}
div.timetable div.schedules:nth-child(3) {
    left: 38em;
}
div.timetable div.schedules:nth-child(4) {
    left: 55em;
}
div.timetable div.schedules:nth-child(5) {
    left: 72em;
}
div.timetable div.schedules:nth-child(6) {
    left: 89em;
}
div.timetable div.schedules:nth-child(7) {
    left: 106em;
}

div.timetable div.schedules .schedule {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 17em;
}

div.timetable div.schedules .booked {
    display: block;
    box-sizing: border-box;

    width: 17em;
    border: 1px solid #28497c;
    padding: 0 15px;
    color: rgb(190, 30, 60);
    margin-right: 0.6em;
    background: rgb(153, 153, 153);
}

div.timetable div.schedules .booked span svg,  div.timetable div.schedules .booked span svg image {
    height: 1em;
}

div.timetable span.schedule_comment {
    display: block;
}